<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>jison</title>
    <link rel="icon" type="image/jpg" href="favicon.jpg" />
    <link rel="stylesheet" href="../public/styles.css" type="text/css" media="screen" charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/"  title="Home" <%=actual?("/")%>>Home</a> </li>
        <li> <a href="/gramatica"  title="Gramar" <%=actual?("/gramatica")%>>Gramatica</a> </li>
        <!--<li> <a href="/test"  title="Test" <%=actual?("/test")%>>Test</a> </li> -->
        <li> <a href="http://cc.etsii.ull.es/"  title="Centro" >Universidad</a> </li>
        <li> <a href="PROXIMAMENTE"  title="Repo">Repositorio</a> </li>
        <li> <a href="http://zaach.github.io/jison/"  title="Jison">Jison</a> </li>
        <li> <a href="https://github.com/SFEley/sinatra-flash"  title="sinatra-flash">sinatra-flash</a> </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
